@import url('https://fonts.googleapis.com/css?family=Oswald:500');

form {
    width: 400px;
    font-family: 'Oswald', sans-serif;
}

/* Remove specific margin setting for form div */
form div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #16151b;
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Set width to 100% to fill the container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #89c1a0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

button[type="submit"]:hover {
    background-color: #5b886e;
}

/* Media query for screens with a minimum width of 768px */
@media screen and (min-width: 768px) {
  form {
      width: 800px; 
  }
}
