@import url('https://fonts.googleapis.com/css?family=Oswald:500');

.about-page {
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bio-list {
  padding-left: 1rem;
}

.bio li {
  list-style: lower-roman;
  padding-left: .5rem; 
}

li::marker {
  color: #5DA57A;
  font-weight: 500;
}

.about-img {
  width: 80%; /* Allow image to take full width on phones */
  margin: 2rem;
}

/* Media query for phones with a minimum width of 768px */
@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .about-img {
    max-width: 100%; /* Ensure image doesn't overflow container */
    height: auto; /* Let the height adjust based on the image width */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    grid-template-columns: 60% 40%;
    margin-left: 6rem;
    margin-right: 6rem;
    max-width: 1000px; 
  }
}