@import url('https://fonts.googleapis.com/css?family=Oswald:500');


.container {
  /* max-width: 1200px; */
  margin: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  /* padding-bottom: 10px; */
}

.bio {
 max-width: 700px;
}

.bio-list {
  padding-left: 1em; /* Add padding to align text */
}

.bio li {
  list-style: lower-roman;
  
  padding-left: 1em; /* Add padding to align text */
}

li::marker {
  color: #5DA57A;
  font-weight: 500;
}

.about-img {
  width: 400px;
}