#featured-list {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  column-gap: 20px;
  row-gap: 20px;
  margin: 4rem;
}

.featured-project {
  grid-column: 1/ span 3; /* Span two columns for the featured project */
}

/* Media query for smaller screens */ 
/* Fix this! */
@media screen and (max-width: 768px) {
  #featured-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust min-width for smaller screens */
  }

  .featured-project {
    grid-column: span 2; /* Span two columns for the featured project on smaller screens */
  }
}