@import url('https://fonts.googleapis.com/css?family=Oswald:500');

.navbar {
  background-color: #89c1a0;
  height: 3rem;
  padding: 20px 20px; /* Padding around the navbar */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items vertically */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  width: 100%;
  text-align:center;
}

nav{
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  float: right;
}

nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#16151b;
  margin:10px 15px;
  font-size:16px;
  letter-spacing:1px;
  display:inline-block;
  
}

.nav-links {
  list-style-type: none; /* Remove bullet points */
  margin: 0; /* Remove default margin */
  padding: 5, 5; /* Remove default padding */
}

.nav-links li {
  display: inline-block; /* Display links horizontally */
  margin-right: 20px; /* Add spacing between links */
}

.nav-links a:hover {
  text-decoration: line-through;
}