
/* CSS for mobile size */
.all-projects {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.project-list {
    display: flex;
    flex-direction: column; /* Switch to column layout for mobile */
    flex-wrap: wrap;
    row-gap: 10px;
}

/* Media query for a minimum width of 768px */
@media only screen and (min-width: 768px) {
    .all-projects {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1200px;
    }

    .project-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 1fr)); /* Adjust column layout for larger screens */
        column-gap: 60px;
        row-gap: 10px;
        margin: 2rem;
    }
}