.featured-list {
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  grid-template-columns: 100%;
  row-gap: 20px;
}


@media screen and (min-width: 768px) {

.featured-list {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: 50% 50%;
  column-gap: 60px;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0 3.5rem 0 0;
  
}

.featured-project {
  grid-column: 1/ span 2;
}

.recent-list {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Two columns with equal width */
}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .featured-list {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 30% 30% 30%;
    column-gap: 60px;
    row-gap: 20px;
    padding: 0 0 0 3.5rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }
  
  .featured-project {
    grid-column: 1/ span 3;
  }
  
  .recent-list {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Two columns with equal width */
  }
}