@import url('https://fonts.googleapis.com/css?family=Oswald:500');

/* General styles */
.navbar {
  background-color: #89c1a0;
  padding: 10px; /* Padding around the navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 5px 0;
  list-style-type: none; 
  align-items: center;
}

nav a {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #16151b;
  letter-spacing: 1px;
}

nav a:hover {
  text-decoration: line-through;
}

.navbar img {
  width: 250px;
}


@media only screen and (min-width: 768px) {
  nav{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  nav a{
    justify-content: space-between;
    margin:5px 10px;
  }
}

